**/github-copilot/hosts.json
**/github-copilot/

**/node_modules/
**bundle/

**/.config/nvim/.git/

**/.config/microsoft-edge/
**/.config/figma-linux/

bspwm/
teams/
Code/
coc/
autostart/
dconf/
cef_user_data/
BraveSoftware/
discord/

# Data folder
Downloads/
Music/
Pictures/
Templates/
Documents/
Data/

Public/
snap/
Steam/
.cache/
.gnome/
.icons/
.local/
.npm/
.nvm/
.pip/
.rbenv/
yay/
.themes/
.vscode/
.vim/
.viminfo
.pki/
.rest-client/
.python_history
.zsh_history
.quokka/
.oh-my-zsh/
.gnupg/
.mozilla/
.wallaby/
.dmrc
.face
.shell.pre-oh-my-zsh
.trash
.wget-hsts
.xsession-errors
.xsession-errors.old
.zcompdump-stilux-pc-5.9
.zcompdump-stilux-pc-5.9.zwc
**/polybar/gmail/authenticates/
.ssh/
