[user]
	email = sontungexpt@gmail.com
	username = Tran Vo Son Tung
	name = Tran Vo Son Tung
[safe]
	directory = /home/stilux/Data/config
	directory = /home/stilux/Data
	directory = /opt/flutter
[color]
	ui = auto
[init]
	defaultBranch = main
